<div class="d-flex flex-column justify-content-center align-items-center container">
<div class="caimportrd-bod">
  <form novalidate [formGroup]="formImport" form-inline justify-content-center>
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" multiple formControlName="importFile" id="importFile" (change)="onFileChange($event.target.files)">
        <label class="custom-file-label" 
  #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-secondary" type="button" (click)="import()"><i class="fas fa-file-import"></i> Upload
      </button>     
    </div>
</form>
</div>
<div *ngIf="fileUploadInProgress">
<h5>{{fileUploadStatus}}</h5>
</div>
</div>
<app-file-view></app-file-view>